* {
margin: 0;
padding: 0;
font-family: 'Roboto';
font-style: normal;
color: #292e47;
}
body {
    background-color: #ecf7ff;
}
h1{
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 130%;
}
h3 {
    color: #292e47;
    font-size: 40px;
    margin: 3rem 0;
}
h5 {
    margin: 30px 0 20px 0;
    font-size: 24px;
    line-height: 115%;
    font-weight: 500;
}
p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 400;
    color: #6B708D;
}

.navbar {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 122px;
    left: calc(50% - 1440px/2);
    top: 0px;
  

}
.logoCircle {
    /* border: 1px solid black; */
    /* width: 5%; */
    height: auto;
    padding: 0;
}
.navigation {
    /* border: 1px solid black; */
    width: 60%;
    height: 5vh;
    display: flex;
    justify-content: center;
    gap:10%;
    align-items: center;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 600;
    
    
}
.navigation a:hover {
    font-weight: bolder;
    color: #072AC8;
    

}
.contactBtn {   
    border: none;
    /* width: 7.6%; */
    height: 5vh;
    background-color: #072AC8;
    font-size: 17px;
    font-family: "Roboto";
    font-weight:bold;
    color: white;
    padding: 0 15px 0 15px;

}
.contactBtn:hover {
    cursor:pointer;
}

.empower {
    /* border: 1px solid black; */
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
   
}
.empowerBox { 
    border: 3px solid red; 
    display:flex;
    flex-direction:row;
    justify-content: center;
    width: 82%;
    height:auto;  
}
.empowerTextcontainer{
    /* border: 4px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 50%;
    height: auto;
}
.empowertexts {
    /* border: 4px solid yellow; */
    width: 100%;
    height: auto;
    align-self: flex-start;
}
.empowertexts h1 {
   color: #292e47;
   font-size: 5em;
   
}
.empowertexts p {
    /* border: 1px solid black; */
    width: 85%;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    color: #6B708D;
    margin-bottom: 3rem;
}

.getInTouchBtn {
    padding: 15px 30px;
    background-color: #072ac8;
    font-size: 24px;
    color: white;
    border: 0;
    height: 79px;
    width: 250px;
    }

.empowertexts a {
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        
    }
.SeeOurWork {
        color: #6B708D;
        margin-left: 10%;
        
    }

.empowerImage {
    position:relative;
    display: flex;
    justify-content: center;
    height: auto;
    width: 50%;
   
   
    }
 .empowerCard1{
    position: absolute;
    left: 5%;  
    width:25%;
    top: 5%;
    }
 
 .empowerImage-img {
    position:relative;
    width: 100%;
    height: auto;
    }
.empowerCard2 {
    position:absolute;
    bottom: 5%;
    right: 5%;
    width: 25%;

}
.empower-bottom {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    width:100%;
    height:auto;
    margin-top: 9%;
}
.brand-logo {
    -webkit-filter: grayscale(1);

}
.brand-logo:hover {
    -webkit-filter: grayscale(0);
    
}
.recentProjects {
   
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.recenProjectsContainer {
    
    display:flex;
    flex-direction:column;
    width: 82%;
    height:auto;  
}
.recentprojectsIn {
    border: 2px solid red;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    height:auto;
}
.recentBoxes {
    border: 3px solid black;
    width: 30%;
    height:auto;
    display: flex;
    flex-direction: column;
    color: #292E47;
    box-shadow: 20px grey;
}
.recentboxestext {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width:auto;
    padding-left: 3%;

   
}
.recentBoxes h5 {
    /* margin-left: 7%; */
}
.learnmore{
    /* margin-left: 7%;
    margin-top: 15%; */
    color: #072ac8;

   
}
.vectorifyImage{
    max-height: 435px;
    

}
.margin7 {
    /* margin-left: 7%; */
}
.hearbox{
   
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;

}

.hear {
    /* border: 3px solid green; */
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #292e47;
    background-image: url("/images/testimonial-section/orbit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    /* gap:50px; */

}

.central {
    /* border: 3px solid lightblue;  */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lateralizquierdo {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:relative;
}
.lateralderecho {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:relative;
}
.emojis {
    height: 150px;
    width: 150px;
}
/* #emoji1 {
    position:absolute;
    top:10px;
    right:500px;
}
#emoji2 {
    position:absolute;
    right:500px;
    bottom:10px;
}
#emoji3 {
    position:absolute;
    top:10px;
    left: 500px;
}
#emoji4 {
    position:absolute;
    bottom:10px;
    left: 500px;
} */

.profile {
    height: 50px;
    width:50px;
    border-radius: 50px;
    background-image: url("/images/testimonial-section/profile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hear-name {
    color: #a2d6f9; 
    font-size: 17px;
    margin:0;
    padding:0;
}

.hear-web {
    color: #ecf7ff; 
    font-size: 13px;
    margin:0;
    padding:0;
}

.h3-central { 
    max-width: 700px;
    color: white;  
    font-size: 40px; 
    text-align: center;
}

.h4-central { 
    max-width: 560px;
    color: #ffc600; 
    font-size: 24px; 
    font-weight: 500;
    text-align: center;
}

.perfil-central {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.perfil-central div {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1em;
}
.servicesSection{
    /* border: 3px solid red; */
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content:center;

}
.services{
    /* border: 3px solid blue; */
    width: 70%;
    height: auto;
}
.services h5{
    font-size: 40px;
}
.ourservices{
    /* border: 3px solid green; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service-container{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0px 39px 78px rgba(0, 0, 0, 0.1);
    width: 23%;
    padding: 1rem;
    height: 700px;
}
.service-container p {
    color: #6B708D;
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
}
.service-container a {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #072AC8;
    margin-top: 9%;
}
.icon-1{
    width: 150px;
    height: 150px;
    background-image: url("/images/services-section/icons/1.svg");
    background-color: rgb(236, 247, 255);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.icon-2{
    width: 150px;
    height: 150px;
    background-image: url("/images/services-section/icons/2.svg");
    background-color: rgb(236, 247, 255);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.icon-3{
    width: 150px;
    height: 150px;
    background-image: url("/images/services-section/icons/3.svg");
    background-color: rgb(236, 247, 255);
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.questionsBox{
    margin-top: 10%;
    /* border: 3px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;

}

.questions {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffc600;
    width: 90%;
    height: 800px;
}
.questions h5 {
    font-size: 80px;

}
.questions p {
  font-size: 30px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.questionstext {
    width: 100%;
    display: flex;
    justify-content: center;
    
    

}
.formulario {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}
.inputbox { 
    
    display: flex;
    justify-content:center;
    background-color: #ecf7ff;
    margin-right: 50px;
    margin-bottom: 15%;
    border: none;
    height: 85px;
}
.formulario input {
    
    border: none;
    background-color: #ecf7ff;
    font-size:25px;    
}
.button {
    font-size: 50px;
    margin-bottom: 15%;
    color: white;
    align-self: center; 
}
.button1 {
    background-color: #072AC8;
    border: none;
    color: white;
    width: 120px;
    height: 85px;
    font-size: 20px;

} 
footer {
    
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    margin-left: 30px;
    align-items: center;

}
.footercontainer1 {
    
    width: 70%;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}
.footercontainer2 img {
    width: 100px;
    margin-bottom: 30px;
    display: flex;
    margin-top: 90px;
S}
.footercontainer2 p {
    color: #6b708d;
    }

.footercontainer3 {
    display: flex;
    flex-direction: column;

    
}
.footercontainer3 ul {
    display: flex;
    flex-direction: row;
   
}
footer li {
    font-size: 17px;
    list-style: none;
    padding:  4rem;

    color: #6B708D;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    body {
        background-color: #ecf7ff;
    }
    .getInTouchBtn{
        /* margin-bottom: 20px; */
    }
    .SeeOurWork{
    align-self: flex-start;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contactBtn {
    
    font-size: 20px;   
}
.logoCircle {
    width: auto;
}
.empowerBox {
    width:90%;
    
}
.empowertexts h1 {
    font-size: 50px;
}
.empowertexts p {
    font-size: 30px;
}
.empowerImage {
    border: 1px solid purple;
    position:relative;
    display: flex;
    justify-content:center;
    
}
}
.getInTouchBtn{
    align-self: center;
    margin-bottom: 20px;
    width: 70%;
}
.SeeOurWork{
    align-self: center;
}
.recentBoxes {
    height: auto;
    
}
.central {
    width: 60%;
}
.hearbox {
    height: auto;
}
.hear{
    height: 500px;
    margin-bottom: -10%;
}
.lateralizquierdo {
    display: flex;
    flex-direction: column;
}
.emojis{
    width: 90px;
    height: auto;
}

#emoji3 {
    
    position: initial;
}
#emoji4 {
    position: initial;
}
#emoji1 {
    position: initial;
}
#emoji2{
    position: initial;
}

.ourservices h3 {
    align-self: center;
}
.servicesSection {
    height: auto;

}
.services{
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .ourservices {
      height: auto;
      display: flex;
      flex-direction: column;
      width: 60%;
      justify-content:space-evenly;
      gap: 30px;
  }

.service-container {
    width: 100%;
    align-self: center;
}
.icon-1{
    align-self: center;
}
.icon-2{
    align-self: center; 
}
.icon-3{
    align-self: center; 
}
.icon-4{
    align-self: center; 
}
.questions {
    height: 600px;
    display: flex;
    justify-content: center;
}
.questions h5 {
    font-size: 50px;
    align-self: center;
   
    text-align: center;
}

@media only screen and (max-width: 767px) {


    body {
        /* margin: 0px 20px 0px 20px; */
    }
   
    .contactBtn {
        font-size: 20px;
    }
    .logoCircle {
        width: auto;
    }
   
    .empowerBox {
        width: 90%;
       display: flex;
        flex-direction: column; 
    
    }
    .empowerTextcontainer{
        height: auto;
        width:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
   
    .empowerTextcontainer h1 {
        font-size: 60px;
        align-self: center;
    }
    .empowerTextcontainer p {
        font-size: 35px;
        align-self: center;
    }
    .getInTouchBtn{
        width: 40%;
        align-self: center;
        margin-bottom: 5%;

    }
    .empowerImage {
        border: 1px solid purple;
        position:relative;
        display: flex;
        justify-content: center;
        height: auto;
        width:auto;
    }
    
    .recentProjects {
        display: flex;
        justify-content: center;
    }
    .recentprojectsIn {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-content: center;
    }
    .recentBoxes {
        align-self: center;
        width: 50%;
        height: auto;
        /* gap:10%; */
    }
   
    .central {
        width: 60%;
    }
    .hearbox {
        height: auto;
    }
    .hear{
        height: 500px;
        margin-bottom: -10%;
    }
    .lateralizquierdo {
        display: flex;
        flex-direction: column;
    }
    .emojis{
        width: 90px;
        height: auto;
    }
    
    #emoji3 {
        
        position: initial;
    }
    #emoji4 {
        position: initial;
    }
    #emoji1 {
        position: initial;
    }
    #emoji2{
        position:initial;
    }
    .ourservices {
        margin-top: 3%;
    }
    .ourservices h3 {
        align-self: center;
    }
    .servicesSection {
        height: auto;
        padding-top: 4%;

    
    }
    
    .services{
      height: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .ourservices {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content:space-evenly;
        gap: 30px;
       
    }
    .service-container {
        width: 100%;
        align-self: center;
    }
    .icon-1{
        align-self: center;
    }
    .icon-2{
        align-self: center; 
    }
    .icon-3{
        align-self: center; 
    }
    .icon-4{
        align-self: center; 
    }
    .questions {
        height: 600px;
        display: flex;
        justify-content: center;
    }
    .questions h5 {
        font-size: 35px;
        align-self: center;
       
        text-align: center;
    }
    .formulario {
        flex-direction: column;
    }
    footer{
        max-width: 300px;
    }
    }
   





















}






































