* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    color: #292e47;
    
    }
    body {
        background-color: #f2f4fc;
    }
    h1{
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 130%;
    }
    h3 {
        color: #292e47;
        font-size: 40px;
        margin: 3rem 0;
    }
    h5 {
        margin: 30px 0 20px 0;
        font-size: 24px;
        line-height: 115%;
        font-weight: 500;
    }
    h4 {
        color: #6B708D bold;
        font-size: 30px;
        
    }
    p {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 400;
        color: #6B708D;
    }
    .navbar {
        
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        left: calc(50% - 1440px/2);
        margin-top:  2%;
    }
    .logoCircle {

        width: 5%; 
        height: auto;
        padding: 0;
    }
    .navigation {
      
        width: 60%;
        height: 5vh;
        display: flex;
        justify-content: center;
        gap:10%;
        align-items: center;
        font-size: 30px;
        font-family: "Roboto";
        font-weight: 600;   
    }
    .navigation a:hover {
        font-weight: bolder;
        color: #072AC8;
        
    }
    .contactBtn {   
     
        width: 6%;
        height: 50px;
        background-color:#072AC8;
        font-size: 20px;
        font-family: "Roboto";
        font-weight:bold;
        color: white;
        border: none;
    }
    .contactuscontainer {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #formulario-contacto {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 3rem;
    
    }
    #formulario-contacto form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .label-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }
    .label {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #6B708D;
        margin-bottom: 0.5rem;
    }
    
    .input {
        border: none;
        height: 110px;
        top: 40px;
        background: rgba(107, 112, 141, 0.1);
        font-size: 17px;
        color: #6B708D;
        padding-left: 1rem; 
    }
    .mail-phone {
        display: flex;
        flex-direction: row;
    }
    .mail{
        width: 50%;
        margin-right: 2%;
    }
    .phone {
        width: 50%;
        margin-left: 2%;
    }
    .input-text{
        background: rgba(107, 112, 141, 0.1);
        font-size: 17px;
        color: #6B708D;
        border: none;
        color: #6B708D;
        padding-left: 1rem;
        padding-top: 1.5rem;
    }
    .button-contact {
        width: auto;
        height: 80px;
        background-color:#072AC8;
        font-size: 20px;
        font-family: "Roboto";
        color: white;
        margin-top: 3%;
        border: none;
    }
    footer {
    
        margin-top: 5%;
        width: 100%;
        display: flex;
        justify-content:flex-start;
        margin-left: 30px;
        align-items: center;
    
    }
    .footercontainer1 {
        
        width: 70%;
        height: 330px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5%;
    }
    .footercontainer2 img {
        width: 100px;
        margin-bottom: 30px;
        display: flex;
        margin-top: 90px;
    }
    
    .footercontainer2 p {
        color: #6b708d;
    
        }
    
    .footercontainer3 {
        display: flex;
        flex-direction: column;
    
        
    }
    .footercontainer3 ul {
        display: flex;
        flex-direction: row;
       
    }
    footer li {
        font-size: 17px;
        list-style: none;
        padding:  4rem;
    
        color: #6B708D;
    }
    
    @media only screen and (min-width: 1024px) and (max-width: 1400px) {
    
    
    .contactBtn {
        width: 10%;
    }
    h1 {
        font-size: 40px;
    }
}



    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .contactBtn {
            width: 13%;
        }
        h1 {
            font-size: 40px;
        }
    }

    @media only screen and (min-width: 600px) and (max-width: 767px) {
        .contactBtn {
            width: 16%;
        }
        h1 {
            font-size: 35px;
        }
        .logoCircle {
            width: 8%;
        }
        .navigation {
            font-size: 25px;
        }
    
        .footercontainer2 p{
        font-size: 15px;
       } 
    footer li {
        font-size: 10px;
        list-style: none;
        padding-right: 0.3px;
        color: #6B708D;
    }
    }
    
    
    
    
    
    
    
    
