* {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto';
    font-style: normal;
    color: #292e47;
    
    }
    body {
        background-color: #f2f4fc; 
    }
    h1{
        font-size: 80px;
        font-weight: 700;
    }
    h3 {
        color: #292e47;
        font-size: 40px;
        margin: 3rem 0;
    }
    h5 {
        margin: 30px 0 20px 0;
        font-size: 24px;
        line-height: 115%;
        font-weight: 500;
    }
    h4 {
        color: #6B708D bold;
        font-size: 30px;
        
    }
    p {
        color: #6B708D;
    }
    .navbar {
      
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        left: calc(50% - 1440px/2);
        margin-top: 3%;
    }
    .logoCircle {

        width: 5%; 
        height: auto;
        padding: 0;
    }
    .navigation {
    
        width: 60%;
        height: 5vh;
        display: flex;
        justify-content: center;
        gap:10%;
        align-items: center;
        font-size: 30px;
        font-family: "Roboto";
        font-weight: 600;
    }
    .navigation a:hover {
        font-weight: bolder;
        color: #072AC8;
        
    }
    .contactBtn {   

        width: 8%;
        height: 50px;
        background-color:#072AC8;
        font-size: 20px;
        font-family: "Roboto";
        font-weight:bold;
        color: white;
        border: none;
    }
    .simplifycontainer {
        margin-top: 5%;
      
        width:100%;
        height: auto;
        display: flex;
        justify-content: center;

    }
    .simplifybox {
     
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    .simplifybox h5 {
        margin-left:85%;
        margin-top: -30px;
    }
    .simplifybox img {
        width: 100%;
        box-shadow: 0 0 10px 30px rgba(0, 0, 0, 0.1);
        margin-top: 3%;
        height: 900px;
    }
    .simplifybox p {
        margin-top: 3%;
        font-size: 30px;
    }

.recentProjects {
   
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}
.recenProjectsContainer {
  
    display:flex;
    flex-direction:column;
    width: 82%;
    height:auto;  
    
}
.recentprojectsIn {
   
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    height:auto;
    box-shadow: 20px 20px 20px 20px whitesmoke;

}
.recentBoxes {
  
    width: 30%;
    display: flex;
    flex-direction: column;
    color: #292E47;
    box-shadow: 0 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    
}
.recentBoxes h5 {
    margin-left: 7%;
    font-size: 40px;
    background-color: white;
}
.recentBoxes p {
    font-size: 25px;
    background-color: white;
}
.learnmore{
    margin-left: 7%;
    margin-top: 15%;
    color: #072ac8;
    background-color: white;
}
.vectorifyImage{
    height: auto;
    
}
.margin7 {
    margin-left: 7%;
}
.questionsBox{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;

}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffc600;
    width: 85%;
    height: 800px;
}
.questions h5 {
    font-size: 80px;

}
.questions p {
  font-size: 30px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.questionstext {
    
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15%;
}
.formulario {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items:center;
    gap:25px; 
}
.inputbox { 
    
    display: flex;
    justify-content:center;
    background-color: #ecf7ff;
    border: none;
    height: 80%;
  
}
.formulario input {
    
    border: none;
    background-color: #ecf7ff;
    font-size:25px;   
}
.button {
    display: flex;
    justify-content:center;
    background-color: #ecf7ff;
    border: none;
    height: 80%;
}
.button1 {
    background-color: #072AC8;
    border: none;
    color: white;
    font-size: 25px;
    width: 200px;

} 
footer {
    
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    margin-left: 30px;
    align-items: center;

}
.footercontainer1 {
    
    width: 70%;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}
.footercontainer2 img {
    width: 100px;
    margin-bottom: 30px;
    display: flex;
    margin-top: 90px;
}

.footercontainer2 p {
    color: #6b708d;

    }

.footercontainer3 {
    display: flex;
    flex-direction: column;

    
}
.footercontainer3 ul {
    display: flex;
    flex-direction: row;
   
}
footer li {
    font-size: 17px;
    list-style: none;
    padding:  4rem;

    color: #6B708D;
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    
    .contactBtn {
        width: 13%;
    }
    .logoCircle {
        width: 10%;
    }
    h1 {
        font-size: 40px;
    }
    .simplifybox h5 {
        font-size: 20px;
        margin-left:65%;
    }
    .simplifybox p {
        font-size:15px;
    }
    .simplifybox img {
    height: 400px;
    }

    
    .recentBoxes h5 {
        font-size: 20px;
    }
    .recentBoxes p {
        font-size: 15px;
    }
    .questions h5 {
        font-size: 35px;
    }
    .footercontainer2 p {
        font-size: 15px;
    }
}





@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .logoCircle {
        width: auto;
    }
    .navigation {
        font-size: 15px;
    }
    .contactBtn {
        font-size: 15px;
        width: 10%;
    }

    .simplifybox p {
        margin-top: 3%;
        font-size: 15px;
    }
    .simplifybox img {
        height: 300px;
    }
    .simplifybox h5 {
        font-size: 15px;
       
    }
    .recentBoxes {
        height: auto;
        width: 31%;
    }
    .recentBoxes h5 {
        font-size: 20px;
    }
    .recentBoxes p{
        font-size: 13px;
    }
    .questions {
        height: 600px;
        display: flex;
        justify-content: center;
    }
    .questions h5 {
        font-size: 30px;
        align-self: center;
       
        text-align: center;
    }
    .button1 {
        
    }
    .inputbox{
        font-size: 15px;
    }
    .footercontainer2 p {
        font-size: 15px;
    }
    }

    @media only screen and (min-width: 600px) and (max-width: 767px) {
    .navbar {
        margin-top: 3%;
    }
    
    .contactBtn {
        font-size: 15px;
        width: 15%;
        height: 30px;
    }
    .logoCircle {
        width: auto;
    }
    .navigation {
        font-size: 20px;
        gap:30px;
    }
    .simplifybox img {
        height: auto;
    }
    .simplifybox p {
        font-size: 18px;
    }
    .simplifybox h1 {
        font-size:30px;
    }
    .simplifybox h4 {
        font-size: 20px;
    }
    .simplifybox h5 {
        font-size: 14px;
    }
    .recenProjectsContainer h3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .recenProjectsContainer h5 {
        font-size: 25px;
    }
    .recenProjectsContainer p {
        font-size: 20px;
    }
    .recentProjects {
        display: flex;
        justify-content: center;
    }
    .recentprojectsIn {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-content:flex-start;
    }
    .recentBoxes {
        align-self: center;
        width: 50%;
        height: auto;
    
    }
    .questions {
        height: 600px;
        display: flex;
        justify-content: center;
    }
    .questions h5 {
        font-size: 35px;
        align-self: center;
       
        text-align: center;
    }
    .formulario {
        flex-direction: column;
    }
    footer{
        max-width: 300px;
    }

     
    .footercontainer2 p {
        font-size: 15px;
       
    }
    footer li {
        font-size: 10px;
        list-style: none;
        padding-right: 0.3px;
        color: #6B708D;
    }
}

@media only screen and (max-width: 599px) {

    .contactBtn {
        width: 17%;
        font-size: 15px;   
    }
    .empower-bottom {
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .logoCircle {
        width: auto;
    }
    .navigation {
        font-size: 15px;
    }
    .simplifybox img {
        height: auto;
    }
    .simplifybox p {
        font-size: 10px;
    }
    .simplifybox h1 {
        font-size:20px;
    }
    .simplifybox h4 {
        font-size: 10px;
    }
    .simplifybox h5 {
        font-size: 10px;
    }
    .recenProjectsContainer h3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .recenProjectsContainer h5 {
        font-size: 25px;
    }
    .recenProjectsContainer p {
        font-size: 20px;
    }
    .recentProjects {
        display: flex;
        justify-content: center;
    }
    .recentprojectsIn {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-content:flex-start;
    }
    .recentBoxes {
        align-self: center;
        width: 50%;
        height: auto;
    
    }
    .questions {
        height: 600px;
        display: flex;
        justify-content: center;
    }
    .questions h5 {
        font-size: 25px;
        align-self: center;
       
        text-align: center;
    }
    .formulario {
        flex-direction: column;
    }

    .footercontainer1 {
        width: 30%;
    }
    
    .footercontainer2 p {
        font-size: 10px;
       
    }
    footer li {
        font-size: 10px;
        list-style: none;
        padding-right: 0.3px;
        color: #6B708D;
    }
    
}








































@media screen and (max-width:7767px) {

}